<div class="row">

<div class="col-md-2">


<%= image_tag @game.avatar_url, class: 'img-circle' %>

</div>

<div class="col-md-10">


<h2> <%= @game.title %></h2>
<% if user_signed_in? %>
<% if @game.followedBy?(current_user) %>
<%= link_to "Unsubscribe",[@game, Subscription], method: :delete, class: 'btn btn-danger' %>
<% else %>
<%= link_to "Subscribe", [@game, Subscription], method: :post, class: 'btn btn-success' %>
<% end %>
<%end %>

</div>

</div>


<div class="row">


<% @game.posts.each do |post| %>

<div class="col-md-4">


<%= render post %>


</div>
<% end %>

</div>
